<img class="avatar" src="{{ '/assets/img/profile.jpg' | relative_url }}" alt="{{ site.name_full }}">
<p class="sidebar-name">{{ site.name_full }}</p>
<p class="sidebar-role">{{ site.role }}<br>{{ site.department }}<br>{{ site.affiliation }}</p>
<p class="sidebar-links">
  <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
  <a href="{{ site.scholar }}">Google Scholar</a>
  · <a href="{{ site.linkedin }}">LinkedIn</a>
  · <a href="{{ site.twitter }}">Twitter</a>
</p>

<div class="news-block">
  <span class="news-label">News</span>
  <ul class="news-list">
    {% for item in site.data.news limit:5 %}
      <li><span class="news-date">{{ item.date }}</span> {{ item.html }}</li>
    {% endfor %}
  </ul>
</div>
